<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="KEY_ID" value="0192fc7efa8d80843879c6daf2fa76ac"/>
    <add key="siteContacto" value="https://apps.monederodelahorro.net:444/crm/operaciones/setWebsiteContacto.php"/>
    <add key="login" value="https://pos.monederodelahorro.net/operaciones1/operaciones.asmx/getCardLogin"/>
    <add key="getSaldos" value="https://pos.monederodelahorro.net/online2/cTransaccion.asmx/getSaldos"/>
	<add key="setCardTransfer" value="https://pos.monederodelahorro.net/operaciones1/operaciones.asmx/setCardTransfer"/>
    <add key="getTransactionContent" value="https://apps.monederodelahorro.net:444/crm/operaciones/getTransactionContent.php"/>
	  <!-- monederodelahorro.com.mx -->
	  <!--<add key="SiteKeyV2" value="6LcUYa8UAAAAADN8TcmlSbOyNh1vueWMTKHCYK8g"/>
    <add key="SecretKey" value="6LcUYa8UAAAAAEgmstxdcQeNIav2NB8RIzfDcVC8"/>-->
	  <!-- localhost -->
	  <add key="SiteKeyV2" value="6Ld9o3QpAAAAAGICHE_ZUPSyAH9exVXDQXXvllIR" />
      <add key="SecretKey" value="6Ld9o3QpAAAAAJAbhgl5Pcymne-3tyWzRavC4SPM" />
	  <!-- monederodelahorro.net -->
	  <!--<add key="SiteKeyV2" value="6Lf-lFwpAAAAAETRPBUXSWFU6cPWO7tSd4tEoqwT" />
	  <add key="SecretKey" value="6Lf-lFwpAAAAAD_SzBFc0KC6NOGiedKf2bTxtILQ" />-->
	  <!-- qamonederodelahorro.com.mx -->
	  <!--<add key="SiteKeyV2" value="6LeLQGspAAAAANNt_LohzQsPfZyACDUXR-aRVj6Y" />
	  <add key="SecretKey" value="6LeLQGspAAAAAIyzRQzIJGeDsXeNA1cUlRX96tJy" />-->
    <add key="getCardBalanceSheet" value="https://pos.monederodelahorro.net/operaciones1/operaciones.asmx/getCardBalanceSheet"/>
    <add key="getTransactionContent" value="https://apps.monederodelahorro.net:444/crm/operaciones/getTransactionContent.php"/>
    <add key="getOrbisBalanceLoyalty" value="https://storage.orveecrm.com/monederodelahorro/getOrbisBalanceLoyalty.php"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
