@model MDA_Web.Models.TransferenciaModel
@{
    ViewBag.Title = "Monedero del ahorro";
    string ErrorLogin = "* " + (ViewBag.ErrorLogin ?? "");
}
<!doctype html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Monedero del ahorro</title>
    <link href="~/Content/general.css" rel="stylesheet" type="text/css">
    <link href="~/Content/menu.css" rel="stylesheet" type="text/css">
    <link href="~/Content/paginas.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="~/Scripts/formcheck.js"></script>

</head>

<body>
    <div id="contenedor">
        <section class="base_gris"></section>
        <section class="base_contenido">
            <section class="base_texto_sistem">
                <span class="titulo_pagina">Transferencia de saldo</span><br><br>
                <span class="texto_pagina">
                    ¿No pudiste realizar tu transferencia? ¡te ayudamos!<br><br>
                    Puedes solicitar ayuda a través de las siguientes opciones:<br>
                    <br>
                    • Llamando al <strong>800 711 2222</strong> en donde nuestros operadores te estarán brindado el apoyo.<br>
                    • Mandando mensaje por nuestras redes sociales dando click aquí: <a href="https://www.fahorro.com/" target="_blank">
                    <img src="~/Content/Images/messenger.jpg" alt="" width="45" height="41" />
                                  </a><a href="https://www.fahorro.com/" target="_blank">
                    <img src="~/Content/Images/whatsapp.jpg" alt="" width="43" height="41" />
                                      </a><br>
                    <br>  • Escríbenos <a href="@Url.Action("Contacto", "Home")">aquí</a>.
                </span>
                <br>
                <br><br>
                <br><br>
            </section>
    </div>
</body>
</html>
